<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= link_to "Sign In", app_path, class:"btn btn-signin"  %>
      </div>
    </div>
  </div>
</header>
<div id="fullpage">
	<div class="section">
  <div style="margin: 0; background: #ffffff">
  <div class="container-center-horizontal">
    <div class="slide1 screen">
      <div class="flex-col">
        <img src="<%= url_for(Logo.last.avatar)  %>" class="imageLogo" />
        <div class="overlap-group1">
          <div class="overlap-group">
            <img
              class="group-8"
              src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2d1a680e5919d5e86cd10/img/group-8@1x.svg"
            />
            <h1 class="title">A Game Changing Platform for Brands</h1>
          </div>
          <div class="button">
          
            <%= link_to "Signup for free today", 'app/auth/signup', class:"btn btn-red mt-4 text"  %>
          </div>
        </div>
        <div class="detail">
          <img
            class="mouse-icon"
            src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2d1a680e5919d5e86cd10/img/mouse-icon@2x.svg"
          />
          <div class="scroll-down">Scroll down</div>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
	<div class="section">
  
  <div class="container-center-horizontal">
  <div class="slide2 screen">
    <div class="overlap-group">
      <img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/vector@2x.svg"
      />
      <div class="text">
        <span class="span0"
          >Now schedule, post and livestream from one place, talk to your
          followers or customers from one place, automate communication and
          empower your team to resolve issues faster!<br /></span
        ><span class="span1"
          ><br />Let’s face it. There are too many Social Media platforms in
          the market right now, and keeping track of all of them is nothing
          short of a nightmare.</span
        >
      </div>
      <h1 class="title">
        Helps You Connect with Your Audience on Multiple Platforms from A
        Single Dashboard
      </h1>
      <img
        class="group"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group@2x.svg"
      /><img
        class="group-block"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f520aa0fb9438ebbb6b258/img/group-block@0.5x.png"
      /><img
        class="vector-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/vector@1x.png"
      />
    </div>
  </div>
</div>

  </div>
	<div class="section">
  <div class="container-center-horizontal">
  <div class="slide3 screen">
    <img
      class="group-88"
      src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group-88@2x.svg"
    />
    <div class="overlap-group">
      <img
        class="group"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2e47480e5919d5e86cd1b/img/group@2x.svg"
      /><img
        class="group-block"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f59443a449efcbb5fef649/img/group-block@0.5x.png"
      />
      <div class="text rubik-light-white-25px">
        A large number of people are present on each of these platforms, and
        if you ignore even one platform, you lose a great part of your
        audience. And as more and more platforms are launched, it is
        becoming more challenging than ever!&nbsp;&nbsp;Is it even possible
        for you to be active on all platforms at the same time while
        managing countless other tasks?<br /><br />The only way to monetize
        your influence is to satisfy your followers by connecting with them
        with timely responses. The secret recipe to satisfy your followers
        with the best support or stay in touch with them is through
        maintaining perfect communication.
      </div>
      <div class="rectangle-19"></div>
      <div class="rectangle-20"></div>
      <div class="rectangle-21"></div>
      <div class="text-1 rubik-normal-white-22px">
        What if there was a way to connect with all your followers and
        customers on all the platforms without burning yourself out?
      </div>
      <div class="text-2 valign-text-middle rubik-normal-white-22px">
        What if you could deal with all your DMs on various platforms from
        one place?
      </div>
      <div class="text-3 valign-text-middle rubik-normal-white-22px">
        Wouldn’t it help you grow as an influencer and make your life
        easier?
      </div>
      <img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f59443a449efcbb5fef649/img/vector@1x.png"
      />
    </div>
    <h1 class="title rubik-light-white-60px">Engage to Grow</h1>
  </div>
</div>
  
  </div>
	<div class="section">
  
  <div class="container-center-horizontal">
  <div class="slide4 screen">
    <div class="overlap-group">
      <img
        class="group-block"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f52cc07c5243916b821360/img/group-block@0.5x.png"
      /><img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f52cc07c5243916b821360/img/vector@1x.png"
      /><img
        class="group-88"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group-88@2x.svg"
      />
      <div class="text rubik-light-white-25px">
        This innovative app is created to empower you to connect and build a
        more meaningful relationship with their followers.<br /><br />You
        know how they say, “Good communication is key to success.”<br /><br />This
        is why ABRAND is your go-to platform to find out what your audience
        is saying to you in various inboxes on multiple platforms and send
        your responses in a few minutes from a single dashboard.
      </div>
      <h1 class="title rubik-light-white-60px">
        An App that Connects All Your Communication Channels In One Place
      </h1>
      <div class="title-1">
        Enjoy Hassle-Free Communication… <br />Say Goodbye to Switching
        Between Countless Platforms
      </div>
      <div class="title-2">Introducing</div>
      <img
        class="group"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2e47480e5919d5e86cd1b/img/group@2x.svg"
      /><img
        class="group-block-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f52cc07c5243916b821360/img/group-block-1@0.5x.png"
      />
    </div>
  </div>
</div>
  </div>
	<div class="section">
  
  <div class="container-center-horizontal">
  <div class="slide5 screen">
    <div class="overlap-group">
      <img
        class="group"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2e3aa226c878a9c1e9316/img/group@2x.svg"
      /><img
        class="group-88"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group-88@2x.svg"
      /><img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f52fa52fce6ae87e28050c/img/vector@1x.png"
      />
      <div class="group-89">
        <div class="text">
          Post your images, videos and other content to all platforms from
          one place with one clicl. Schedule them for the ebst times that
          you expect the highest engagement
        </div>
        <h1 class="title">Schedule and Post in one place</h1>
        <img
          class="group-1"
          src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2e3aa226c878a9c1e9316/img/group-1@2x.svg"
        />
      </div>
      <img
        class="group-block"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f52fa52fce6ae87e28050c/img/group-block@0.5x.png"
      /><img
        class="vector-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2e3aa226c878a9c1e9316/img/vector@2x.svg"
      />
    </div>
  </div>
</div>
  </div>
	<div class="section">
  
    
  <div class="container-center-horizontal">
  <div class="slide6 screen">
    <div class="overlap-group">
      <img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f5303a65d145d641f85929/img/vector@2x.svg"
      /><img
        class="group-block"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f5303a65d145d641f85929/img/group-block@0.5x.png"
      /><img
        class="vector-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f5303a65d145d641f85929/img/vector@1x.png"
      />
      <div class="group-90">
        <div class="overlap-group1">
          <h1 class="title">
            Livestream your message to multiple platforms
          </h1>
          <img
            class="group-2"
            src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2e3aa226c878a9c1e9316/img/group-1@2x.svg"
          />
        </div>
        <div class="text">
          Stream high-quality messages to multiple platforms from your
          computer
        </div>
      </div>
      <img
        class="group"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f5303a65d145d641f85929/img/group@2x.svg"
      />
    </div>
    <img
      class="group-88"
      src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group-88@2x.svg"
    />
  </div>
</div>
  </div>
	<div class="section">
  
  <div class="container-center-horizontal">
  <div class="slide7 screen">
    <div class="overlap-group">
      <img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f5317d7c5243916b8213fb/img/vector@2x.svg"
      /><img
        class="vector-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f5317d7c5243916b8213fb/img/vector@1x.png"
      />
      <div class="group-91">
        <h1 class="title rubik-light-white-75px">
          Connect Multiple Inboxes
        </h1>
        <img
          class="group-3"
          src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f5317d7c5243916b8213fb/img/group-3@2x.svg"
        />
        <div class="text rubik-light-white-36px">
          Tired of going through countless inboxes? Now access your Email,
          Facebook Page, Twitter, WhatsApp and many other inboxes from one
          dashboard with a friendly interface.
        </div>
      </div>
      <img
        class="group-88"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group-88@2x.svg"
      />
    </div>
    <img
      class="group"
      src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f5317d7c5243916b8213fb/img/group@2x.svg"
    />
  </div>
</div>
  </div>
	<div class="section">
  
  <div class="container-center-horizontal">
      <div class="slide8 screen">
        <div class="flex-col">
          <img
            class="vector"
            src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f531b465d145d641f8592c/img/vector@2x.svg"
          />
          <div class="overlap-group">
            <img
              class="group-block"
              src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f531b465d145d641f8592c/img/group-block@0.5x.png"
            /><img
              class="vector-1"
              src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f531b465d145d641f8592c/img/vector@1x.png"
            />
            <div class="group-92">
              <div class="overlap-group1">
                <h1 class="title rubik-light-white-75px">Live Chat for You</h1>
                <img
                  class="group-4"
                  src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f531b465d145d641f8592c/img/group-4@2x.svg"
                />
              </div>
              <div class="text rubik-light-white-36px">
                Live Chats are all the rage for you these days. Communicate with
                your followers using the live chat feature of our app to
                increase engagement.
              </div>
            </div>
            <img
              class="vector-2"
              src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f531b465d145d641f8592c/img/vector-1@1x.svg"
            />
          </div>
        </div>
        <img
          class="group-88"
          src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group-88@2x.svg"
        />
      </div>
    </div>
  </div>
	<div class="section">
  
  <div class="container-center-horizontal">
  <div class="slide9 screen">
    <img
      class="group"
      src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53402fc8922b37024d1d3/img/group@2x.svg"
    />
    <div class="group-93">
      <h1 class="title rubik-light-white-75px">Automate Your Responses</h1>
      <img
        class="group-5"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53402fc8922b37024d1d3/img/group-5@2x.svg"
      />
      <div class="text rubik-light-white-36px">
        Nothing beats fast responses to satisfy your audience. By easily
        integrating chatbot platforms such as Dialogflow and Rasa, you can
        reduce the workload of your agents and send faster responses.
      </div>
    </div>
    <div class="overlap-group">
      <img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53402fc8922b37024d1d3/img/vector@2x.svg"
      /><img
        class="group-block"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53402fc8922b37024d1d3/img/group-block@0.5x.png"
      /><img
        class="group-88"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group-88@2x.svg"
      /><img
        class="vector-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53402fc8922b37024d1d3/img/vector@1x.png"
      />
    </div>
  </div>
</div>
  </div>
	<div class="section">
  <div class="container-center-horizontal">
  <div class="slide10 screen">
    <div class="overlap-group">
      <img
        class="group-block"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53499e3ed5b17d3490643/img/group-block@0.5x.png"
      /><img
        class="vector"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53499e3ed5b17d3490643/img/vector@1x.png"
      />
      <div class="group-95">
        <div class="overlap-group1">
          <div class="group-94">
            <h1 class="title rubik-light-white-75px">
              Use API to Build Custom Channels
            </h1>
            <div class="text rubik-light-white-36px">
              Want a custom solution to integrate any third-party tool? We
              offer flexibility to build custom channels with AFFLUENCE API.
            </div>
          </div>
          <img
            class="group-6"
            src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53499e3ed5b17d3490643/img/group-6@2x.svg"
          />
        </div>
      </div>
      <img
        class="group"
        src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53499e3ed5b17d3490643/img/group@2x.svg"
      />
    </div>
    <img
      class="group-88"
      src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group-88@2x.svg"
    />
  </div>
</div>
  
  </div>
	<div class="section">
  <div class="container-center-horizontal">
      <div class="slide11 screen">
        <img
          class="group"
          src="https://anima-uploads.s3.amazonawxs.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53986fc8922b37024d1ff/img/group-1@2x.svg"
        />
        <div class="flex-col">
          <div class="overlap-group1">
            <img
              class="vector"
              src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f531b465d145d641f8592c/img/vector@2x.svg"
            />
            <h1 class="title">
              Ready to Build Better Relationship with Your Followers and
              Customers?
            </h1>
          </div>
          <div class="overlap-group2">
            <img
              class="group-88"
              src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f2dbb26f99a1f802d11303/img/group-88@2x.svg"
            />
            <div class="overlap-group">
              <div class="title-1 rubik-light-white-30px">
                Imagine all your inboxes and social media accounts are
                seamlessly integrated to provide easy access for all your
                communications under one dashboard.<br /><br />If you want to
                build a meaningful relationship with your audience and
                streamline all your communication processes with easy access,
                automation and tools integration, then you’ll truly appreciate
                what AFFLUENCE has to offer.<br /><br />Don’t wait, and click
                the link below to Sign Up for FREE today…
              </div>
              <img
                class="group-block"
                src="https://anima-uploads.s3.amazonaws.com/projects/60f2d17bf2b43b20cbe27d9d/releases/60f53986fc8922b37024d1ff/img/group-block-1@0.5x.png"
              />
            </div>
            <div class="button">
            <%= link_to "Signup for free today", 'app/auth/signup', class:"btn btn-red mt-4 text"  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">

</script>
<script >

$(document).ready(function(){

new fullpage('#fullpage', {
    //options here
    scrollOverflow: true,
    scrollBar: false,
    autoScrolling:true,
    navigation:true,
});
})
</script>